annotated-types==0.7.0
blinker==1.9.0
click==8.3.1
dnspython==2.8.0
dotenv==0.9.9
email-validator==2.3.0
Flask==3.1.2
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jose==1.0.0
MarkupSafe==3.0.3
mysql-connector-python==9.5.0
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==1.7.1
python-dotenv==1.2.1
types-pyasn1==0.6.0.20250914
types-python-jose==3.5.0.20250531
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==3.1.5
